<form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="UploadPicture">
    <label for="file-upload" class="custom-file-upload">
        <i class="fa fa-cloud-upload"></i> Custom Upload
    </label>
    <input id="file-upload" type="file" />
</form>