<div class="top">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="image-container">
                    <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="ChangePicture">
                        <button class="btn-info rounded-button">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </form>
                    <img class="img-fluid" src="~/images/company-avatar.png" />
                </div>
                <div class="card-block">
                </div>
           </div>
        </div>
        <div class="col-lg-9">
            <div class="card">
                <div class="card-block">
                    <div class="card-text">
                        <h3 class="flex-center">About Us</h3>
                        <br />
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-3">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="@Url.Action("All", "Positions", new { companyId = User.Identity.Name })">Positions</a>
                    <span class="badge badge-primary badge-pill">0</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a>Interested in</a>
                    <span class="badge badge-primary badge-pill">0</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a>Subscriptions</a>
                    <span class="badge badge-primary badge-pill">0</span>
                </li>
            </ul>
            @*<div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">Positions
            <span class="pull-right badge badge-primary badge-pill">14</span>
        </a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">Interested in
            <span class="badge badge-primary badge-pill">2</span>
        </a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">Subscriptions
            <span class="badge badge-primary badge-pill">1</span>
        </a>
    </div>*@
        </div>
        <div class="col-lg-9">
            <div class="card">
                <div class="card-block">
                    <div class="card-text text-center">
                        <h4 class="card-title">Products<a href="#" class="addExperience"><i class="fa fa-plus navbar-toggler-right" aria-hidden="true"></i></a></h4>
                        <br />
                        @if (true)
                        {
                            <p>No products added...</p>
                        }
                        else
                        {

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>