@using Hooxit.Presentation
@model IEnumerable<IdNameReadModel>

<table class="table table-lg table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Position name</th>
            <th>Visited</th>
            <th>Applied</th>
            <th>
                <a class="btn btn-sm btn-outline-info pull-right" href="@Url.Action("Create", "Positions")"> Create </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @{ var counter = 1; }
        @foreach (var item in Model)
        {
            
        <tr>
            <th scope="row">@counter</th>
            <td><a href="@Url.Action("View", "Positions", new { area = "Company", username = User.Identity.Name, positionId = item.Id })">@item.Name</a></td>
            <td>12</td>
            <td>2</td>
            <td></td>
        </tr>

            counter++;
        }
    </tbody>
</table>
@if (!Model.Any())
{
    <h4 class="top">No positions</h4>
}