@using Hooxit.Presentation.Implemenation.Write.Company
@model CreatePosition

<div class="top">
    <form asp-area="Company" asp-action="Create" asp-controller="Positions" id="createPosition">
        <div class="row">
            <div class="col-md-4 position-skills-panel">
                <div class="card">
                    <div class="card-block">
                        <div class="input-group md-form">
                            <input type="text" id="searchSkill" />
                            <label for="searchSkill">Search</label>
                        </div>
                        <div class="list-group skillsList">
                        </div>
                    </div>
                </div>
                <div class="card top">
                    <div class="card-block">
                        <h4 class="card-title">Skills</h4>
                        <div id="skillsContainer">
                            <p class="noSkillsText">No skills selected...</p>
                        </div>
                    </div>
                </div>
                <div class="card top">
                    <div class="card-block">
                        <div class="input-group md-form">
                            <input id="MinimumYearsOfExperience" type="text" asp-for="MinimumYearsOfExperience" />
                            <label for="MinimumYearsOfExperience">Minimum years of experience (Optional)</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group md-form">
                            <input type="text" asp-for="PositionName" />
                            <label for="PositionName">Position Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text-center">Company Description</p>
                        <div id="company-description-text-editor"></div>
                    </div>
                </div>
                <div class="row top-editor">
                    <div class="col-lg-12">
                        <p class="text-center">Looking For</p>
                        <div id="looking-for-text-editor"></div>
                    </div>
                </div>
                <div class="row top-editor">
                    <div class="col-lg-12">
                        <p class="text-center">Responsibilities</p>
                        <div id="responsibilities-text-editor"></div>
                    </div>
                </div>
                <div class="row top-editor">
                    <div class="col-lg-12">
                        <p class="text-center">What we offer</p>
                        <div id="what-we-offer-text-editor"></div>
                    </div>
                </div>
                <div class="row top-editor"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="button" id="btnCreate" value="Create" class="btn btn-md btn-outline-info" />
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Description" id="description" />
        <input type="hidden" asp-for="LookingFor" id="lookingFor" />
        <input type="hidden" asp-for="Responsibilities" id="responsibilities" />
        <input type="hidden" asp-for="WhatWeOffer" id="whatWeOffer" />
    </form>
</div>

@section PositionManager {
    <script src="~/js/skills/skillsManager.js"></script>
    <script src="~/js/base/TextEditor.js"></script>
    <script src="~/js/company/createPosition.js"></script>
}
