<form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="UploadPicture" id="uploadPicture">
    <label for="file-upload" class="custom-file-upload-candidate">
        <i class="fa fa-cloud-upload"></i> Custom Upload
    </label>
    <input id="file-upload" type="file" name="picture" />
</form>