.top {
    margin-top: 5%;
}

.halfLeft25 {
    margin-left: 25%;
}

.halfTop25 {
    margin-top: 25%;
}

.toggle-update-edit {
    margin-top: -7px;
    margin-bottom: 10px;
}

.toggle-update-edit, #addExperienceForm, .userInfoEditFieldWrapper {
    display: none;
}

.image-container {
    position: relative;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    border: 1px;
}

.rounded-button {
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 50% !important;
    position: absolute;
    top: 13.2em;
    left: 12.9em;
}

.toast-container {
    margin-top: 122px;
}

.requestType {
    display: none;
}

.countryList {
    position: absolute;
    z-index: 100000;
    overflow: auto;
    height: 30em;
}

.addSkillBtn {
    margin-left: 45%;
}


/*======================================= Arrow for button =============================================*/


.right-arrow-btn {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.5em solid #2BBBAD;
    margin-left: 1.5em;
    border: none;
    position: absolute;
    top: 2.5%;
    left: 32%;
}

    .right-arrow-btn:after {
        content: ' ';
        display: inline-block;
        margin-top: 1.05em;
        margin-left: -0.6em;
        width: 1.4em;
        height: 1.4em;
        border-top: 0.1em solid #2BBBAD;
        border-right: 0.1em solid #2BBBAD;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }



.top-editor {
    margin-top: 8em;
}

.position-skills-panel {
    margin-top: 2.5em;
}

.skillsList {
    position: absolute;
    z-index: 100;
    width: 19.3em;
    display: none;
    overflow: auto;
}

.autoHeight {
    height: auto;
}

.fixedHeight {
    height: 32.5em;
}

.selectedSkill {
    padding: 1.1em;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.selectedSkill .fa{
    margin-left: 1em;
}

#positionContainer {
    margin-bottom: 1.5em !important;
    margin-left: 3em;
}

#positionContainer .card {
    border-radius: 3em;
    height: 100%;
}

.positionEditorView{
    display: none;
}

#generalEditor{
    display: none;
}

#positionContainer .ql-toolbar {
    display: none;
}

#positionContainer ul, #positionContainer li {
    list-style-type:initial !important;
    margin-left: .5em;
}