.top {
    margin-top: 5%;
}

.topx2 {
    margin-top: 10%;
}

.halfLeft25 {
    margin-left: 25%;
}

.halfTop25 {
    margin-top: 25%;
}

.toggle-update-edit {
    margin-top: -7px;
    margin-bottom: 10px;
}

.toggle-update-edit, #addExperienceForm, .userInfoEditFieldWrapper {
    display: none;
}

.image-container {
    position: relative;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    border: 1px;
}

.rounded-button {
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 50% !important;
    position: absolute;
    top: 13.2em;
    left: 12.9em;
}

.toast-container {
    margin-top: 122px;
}

.requestType {
    display: none;
}

.countryList {
    position: absolute;
    z-index: 100000;
    overflow: auto;
    height: 30em;
}

.addSkillBtn {
    margin-left: 45%;
}


/*======================================= Arrow for button =============================================*/


.right-arrow-btn {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.5em solid #2BBBAD;
    margin-left: 1.5em;
    border: none;
    position: absolute;
    top: 2.5%;
    left: 32%;
}

    .right-arrow-btn:after {
        content: ' ';
        display: inline-block;
        margin-top: 1.05em;
        margin-left: -0.6em;
        width: 1.4em;
        height: 1.4em;
        border-top: 0.1em solid #2BBBAD;
        border-right: 0.1em solid #2BBBAD;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }



.top-editor {
    margin-top: 8em;
}

.position-skills-panel {
    margin-top: 2.5em;
}

.skillsList {
    position: absolute;
    z-index: 100;
    width: 19.3em;
    display: none;
    overflow: auto;
}

.autoHeight {
    height: auto;
}

.fixedHeight {
    height: 32.5em;
}

.selectedSkill {
    padding: 1.1em;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.selectedSkill .fa{
    margin-left: 1em;
}

#positionContainer {
    margin-bottom: 1.5em !important;
    margin-left: 3em;
}

#positionContainer .card {
    border-radius: 3em;
}

    .positionEditorView, #companyDescriptionEditor, #positionContainer .ql-toolbar.ql-snow, #descriptionContainer .ql-toolbar.ql-snow {
        display: none;
    }

#positionContainer #createPosition .ql-positionContainer.ql-snow {
    display: none;
    z-index: 1000;
}

#positionContainer {
    height: auto;
}

#positionContainer ul, #positionContainer li {
    list-style-type: initial !important;
    margin-left: .5em;
}

.editor, .updateSkill, .skill-close, .skill-save, .skillsCloseUpdate, .saveSkills {
    display: none;
}

.positionSectionHeader .toggle-close, .positionSectionHeader .toggle-save, .skill-close, .skill-save, .positionNameContainer {
    display: none;
    padding-left: 0.5em;
}

.closeIcon i, .update i, .save i {
    font-size: 1.3em;
    padding-right: .5em;
}
.closeIcon, .update, .save {
    display: none;
}
.skillsPanel{
    display: none;
}
table {
    text-align: initial;
}

.dashboardPic {
    width: 9em !important;
    height: 9em !important;
    border-bottom-left-radius: 100% !important;
    border-bottom-right-radius: 100% !important;
    border-radius: 100%;
    margin-left: 2.4em;
}

/*Loader*/

.md-preloader {
    font-size: 0;
    display: inline-block;
    -webkit-animation: outer 6600ms linear infinite;
    animation: outer 6600ms linear infinite
}

    .md-preloader svg {
        -webkit-animation: inner 1320ms linear infinite;
        animation: inner 1320ms linear infinite
    }

        .md-preloader svg circle {
            fill: none;
            stroke: #448aff;
            stroke-linecap: square;
            -webkit-animation: arc 1320ms cubic-bezier(.8, 0, .4, .8) infinite;
            animation: arc 1320ms cubic-bezier(.8, 0, .4, .8) infinite
        }

@-webkit-keyframes outer {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes outer {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes inner {
    0% {
        -webkit-transform: rotate(-100.8deg);
        transform: rotate(-100.8deg)
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@keyframes inner {
    0% {
        -webkit-transform: rotate(-100.8deg);
        transform: rotate(-100.8deg)
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@-webkit-keyframes arc {
    0% {
        stroke-dasharray: 1 210.48670779px;
        stroke-dashoffset: 0
    }

    40% {
        stroke-dasharray: 151.55042961px,210.48670779px;
        stroke-dashoffset: 0
    }

    100% {
        stroke-dasharray: 1 210.48670779px;
        stroke-dashoffset: -151.55042961px
    }
}

@keyframes arc {
    0% {
        stroke-dasharray: 1 210.48670779px;
        stroke-dashoffset: 0
    }

    40% {
        stroke-dasharray: 151.55042961px,210.48670779px;
        stroke-dashoffset: 0
    }

    100% {
        stroke-dasharray: 1 210.48670779px;
        stroke-dashoffset: -151.55042961px
    }
}

/*END Loader*/

.dangerInfoSquare {
    display: inline;
    background: #d9534f;
    width: 3em;
    height: 3em;
    border-radius: 100%;
}

.successInfoSquare {
    display: inline;
    background: #5cb85c;
    width: 3em;
    height: 3em;
    border-radius: 100%;
}

.relationInfoTxt {
    padding-top: 1em;
    padding-left: 1em;
}

/*file upload*/

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 0.6em 2.7em;
    cursor: pointer;
    margin-top: .3em;
}

.custom-file-upload-candidate {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 0.6em 3.8em;
    cursor: pointer;
    margin-top: .3em;
}
/*file upload*/
.modal-content {
    height: 800px;
}

#productDescriptionEditor{
    height: 300px;
}

/*Animated check*/
.check_mark {
    width: 80px;
    height: 130px;
    margin: -8% 0px 8% 38%;
    display: none;
}

button {
    cursor: pointer;
    margin-left: 15px;
}

.hide {
    display: none;
}

.sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}

    .sa-icon.sa-success {
        border-color: #4CAF50;
    }

        .sa-icon.sa-success::before, .sa-icon.sa-success::after {
            content: '';
            -webkit-border-radius: 40px;
            border-radius: 40px;
            border-radius: 50%;
            position: absolute;
            width: 60px;
            height: 120px;
            background: white;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .sa-icon.sa-success::before {
            -webkit-border-radius: 120px 0 0 120px;
            border-radius: 120px 0 0 120px;
            top: -7px;
            left: -33px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 60px 60px;
            transform-origin: 60px 60px;
        }

        .sa-icon.sa-success::after {
            -webkit-border-radius: 0 120px 120px 0;
            border-radius: 0 120px 120px 0;
            top: -11px;
            left: 30px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 0px 60px;
            transform-origin: 0px 60px;
        }

        .sa-icon.sa-success .sa-placeholder {
            width: 80px;
            height: 80px;
            border: 4px solid rgba(76, 175, 80, .5);
            -webkit-border-radius: 40px;
            border-radius: 40px;
            border-radius: 50%;
            box-sizing: content-box;
            position: absolute;
            left: -4px;
            top: -4px;
            z-index: 2;
        }

        .sa-icon.sa-success .sa-fix {
            width: 5px;
            height: 90px;
            background-color: white;
            position: absolute;
            left: 28px;
            top: 8px;
            z-index: 1;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .sa-icon.sa-success.animate::after {
            -webkit-animation: rotatePlaceholder 4.25s ease-in;
            animation: rotatePlaceholder 4.25s ease-in;
        }

    .sa-icon.sa-success {
        border-color: transparent\9;
    }

        .sa-icon.sa-success .sa-line.sa-tip {
            -ms-transform: rotate(45deg) \9;
        }

        .sa-icon.sa-success .sa-line.sa-long {
            -ms-transform: rotate(-45deg) \9;
        }

.animateSuccessTip {
    -webkit-animation: animateSuccessTip 0.75s;
    animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
    -webkit-animation: animateSuccessLong 0.75s;
    animation: animateSuccessLong 0.75s;
}

@-webkit-keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }

    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

@-webkit-keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }

    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }

    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }

    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }

    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }

    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

.sa-icon.sa-success .sa-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

    .sa-icon.sa-success .sa-line.sa-tip {
        width: 25px;
        left: 14px;
        top: 46px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .sa-icon.sa-success .sa-line.sa-long {
        width: 47px;
        right: 8px;
        top: 38px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

@-webkit-keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }

    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
}

@keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }

    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
}

/*END Animated check*/