@model Hooxit.Presentation.Write.ExperienceWriteModel

<form asp-antiforgery="true" asp-area="Candidate" asp-controller="Experience" asp-action="AddExperience" id="addExperienceForm" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#content" data-ajax-complete="userExperience.appendNewExperience" data-ajax-failure="code" data-ajax-loading="#">
    <div class="md-form">
        <input asp-for="@Model.Position" type="text" class="form-control" placeholder="What was your position?">
        <div class="row">
            <div class="col">
                <input class="datepicker" date-format="mm/dd/yyyy" type="text" asp-for="@Model.FromDate" placeholder="From Date" />
            </div>
            <div class="col">
                <input class="datepicker" date-format="mm/dd/yyyy" type="text" asp-for="@Model.ToDate" placeholder="To Date" />
            </div>
        </div>
        <input asp-for="@Model.CompanyName" type="text" class="form-control" placeholder="What is the name of the company?">
        <div class="navbar-toggler-right">
            <button type="submit" class="btn btn-md btn-outline-default waves-effect">Save</button>
        </div>
    </div>
    <br />
    
</form>
