@model IEnumerable<Hooxit.Presentation.Implemenation.Candidate.Read.ExperienceReadModel>

@if (!Model.Any())
{
    <p class="card-text">No experience added yet.</p>
}
else
{

    foreach (var experience in Model)
    {

         @Html.Partial("../Experience/_SingleExperiencePartial", experience)
    }
    <div class="">
        @foreach (var experience in Model)
        {
            @Html.Partial("../Experience/_UpdateExperience", new Hooxit.Presentation.Implemenation.Candidate.Write.ExperienceWriteModel(experience))
        }
    </div>
}