@model IEnumerable<Hooxit.Presentation.Implemenation.Candidate.Read.ExperienceReadModel>

@if (!Model.Any())
{
    <p class="card-text">No experience added yet.</p>
}
else
{

    foreach (var experience in Model)
    {

         @Html.Partial("../Experience/_SingleExperiencePartial", experience)
    }
}